# Environment variables
.env

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos compilados
*.o
*.out
*.exe

# Arquivos gerados pela compilação
*.dSYM/

# Arquivos compilados
*.class

# Arquivos gerados pela compilação
bin/


# Operating system files
.DS_Store
Thumbs.db
